@import "./Utils/variables";
@import "./Base/typography";
@import "./Layout/header";
@import "./Layout/container";
@import "./Layout/nav";
* {
    padding: 0;
    margin: 0;
}

main {
    color: $colour-primary;
    background-color: $colour-secondary;
    font-family: 'Noto Sans Display';
}