@import "./utils/variables";
@import "./Base/typography";
@import "./Layout/header";
@import "./Layout/container";
* {
    padding: 0;
    margin: 0;
}

main {
    background-color: $colour-secondary;
}