@mixin title__heading {
    color: $colour-primary;
    font-size: map-get($map: $font-size, $key: heading);
    font-weight: map-get($map: $font-weight, $key: heading);
    text-transform: uppercase;
    width: 100%;
    border-right: $border-right;
    padding: 2rem;
}

@mixin title__description {
    width: 50%;
    border-right: $border-right;
    padding: 2rem;
}

@mixin title__thx {
    width: 50%;
    padding: 2rem;
}

.title {
    display: flex;
    flex-direction: row;
    border-bottom: $border-bottom;
    &__heading {
        @include title__heading();
    }
    &__description {
        @include title__description();
    }
    &__thx {
        @include title__thx();
    }
}

@mixin quote__text {
    color: $colour-primary;
    font-size: map-get($map: $font-size, $key: quote);
}

.quote {
    padding: 5rem;
    border-bottom: $border-bottom;
    @include quote__text();
}

@mixin intro__text {
    padding: 2rem;
    width: 90%;
}

.intro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: $border-bottom;
    &__text {
        @include intro__text();
    }
}

#part {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem;
}

@mixin part-prev__image {
    width: 100%;
}

@mixin part-prev {
    width: 20%;
    border: $border;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

@mixin part-prev__heading {
    padding: 1rem;
    color: $colour-secondary;
    background-color: $colour-primary;
    text-transform: uppercase;
    font-size: map-get($map: $font-size, $key: project-heading);
    font-weight: map-get($map: $font-weight, $key: project-heading);
}

@mixin part-prev__chapter {
    padding: 1rem;
    font-size: map-get($map: $font-size, $key: label);
    font-weight: map-get($map: $font-weight, $key: label)
}

.part-prev {
    @include part-prev();
    &__image {
        @include part-prev__image();
    }
    &__heading {
        @include part-prev__heading();
    }
    &__chapter {
        @include part-prev__chapter();
    }
}