@mixin navbar {
    background-color: $colour-secondary;
}

@mixin nav-type {
    font-size: map-get($font-size, navbar);
    font-weight: map-get($font-weight, navbar);
    color: $colour-primary;
    text-decoration: none;
    font-family: 'Noto Sans Display', sans-serif;
    padding: 5px 10px 5px 10px;
}

.nav__link a {
    @include nav-type();
    &:hover {
        color: $colour-primary;
        text-transform: uppercase;
    }
}

.nav {
    @include navbar();
    &__menu {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        list-style-type: none;
        padding: 1rem;
        height: 2rem;
        align-items: center;
        border-bottom: 1px solid $colour-primary;
    }
}