$colour-primary: #000599;
$colour-secondary: #f1f1f1;
$colour-tertiary: #4348DF;
$colour-white:#fff;
$border: 1px solid $colour-primary;
$border-right: 1px solid $colour-primary;
$border-bottom: 1px solid $colour-primary;